KOMETA_mdblist-apikey=###########################
KOMETA_trakt-client-id=##############################################################
KOMETA_trakt-client-secret==##############################################################
KOMETA_trakt-pin=##########
KOMETA_plex-token=#################################
KOMETA_tmdb-token=#################################
KOMETA_radarr-token==#################################
KOMETA_sonarr-token==#################################





