KOMETA_mdblist_apikey=###########################
KOMETA_trakt_client_id=##############################################################
KOMETA_trakt_client_secret==##############################################################
KOMETA_trakt_pin=##########
KOMETA_plex_token=#################################
KOMETA_tmdb_token=#################################
KOMETA_radarr_-token==#################################
KOMETA_sonarr_token==#################################





